version: "3.5"
services:
  near:
    image: near.near.dnp.dappnode.eth:0.1.0
    build:
      context: neard_image
      args:
        UPSTREAM_VERSION: 2.9.1-patch
    volumes:
      - near:/srv/near
    restart: unless-stopped
    ports:
      - 24567:24567/tcp
      - 24567:24567/udp
    environment:
      - CHAIN_ID=mainnet
      - STAKING_CONTRACT_NAME=pool.near
      - ACCOUNT_ID
      - VALIDATOR_PUBLIC_KEY
      - VALIDATOR_SECRET_KEY
      - DOWNLOAD_SNAPSHOT=true
      - FETCH_BOOT_NODES
      - CONFIG_TYPE
volumes:
  near: {}
